
  <mat-toolbar color="primary">
            <button mat-button routerLink="/dishes" >View Dishes</button>
            <button mat-button routerLink="/create" >Create Dish</button>

            </mat-toolbar>
       <!--
                     <input type="search"/><button mat-button (click)="searchDishes()" >Search Dishes</button> 

                     
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="topnav">
    <a class="lnk active" href="dishes">View Dishes</a>
    <a class="lnk active" href="create">Create Dish</a>
  </div>
           -->

